.main-card {
    background-color: var(--dark-grey-card);
    width: max(350px, 80%);
    max-width: 450px;
    padding: 30px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    width: 100%;
    gap: 10px;
}

.input input {
    flex: 1;
}

.input input:focus {
    outline: none;
    border-bottom-color: var(--white);
    transition: .2s;
}

.input button {
    padding: 10px 20px;
    flex-shrink: 0;
}

.list {
    display: flex;
    flex-direction: column;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 7px;

    border: 0;
    border-radius: 10px;
}

.checkbox-element {
    appearance: none;
    border: 2px solid var(--dark-grey-details);
    border-radius: 5px;

    width: 20px;
    height: 20px;
    accent-color: var(--wine-red);
    flex-shrink: 0;
}

.checkbox-element:hover {
    cursor: pointer;
    border-color: var(--white);
    background-color: var(--black-bg);
    transition: .25s;
}

.checkbox-element.checked {
    background-color: var(--wine-red);
}

.checkbox-element.checked + span {
    font-style: italic;
    text-decoration: line-through;
    opacity: .7;
}

.dropdown {
    margin-left: auto;
    position: relative;
}

.menu {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;

    background-color: var(--dark-grey-card);
    padding: 10px 10px;
    border: 2px solid var(--dark-grey-details);
    border-radius: 5px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: .2s;
}

.menu.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-item {
    padding: 5px 15px;
}

.menu-item:hover {
    cursor: pointer;
    background-color: var(--black-bg);
    color: var(--white);
    transition: .25s ease;

    border-radius: 5px;
}

.delete:hover {
    background-color: var(--wine-red);
    border-color: var(--wine-red);
}